body {
  background: url("../glassesImage/background.jpg") center / cover no-repeat;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2.5rem;
}

.preview-panel {
  background: url("../glassesImage/model.jpg") center / contain no-repeat;
}

.preview-panel img:first-child {
  display: none;
}

.selected-variation {
  margin-top: 30%;
  width: 50%;
  opacity: 0.8;
}

.selected-info {
  background-color: rgba(255, 137, 3, 0.5);
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  text-align: left;
  width: 92%;
}

.name {
  font-weight: bold;
  color: #00008b;
}
